{% extends "account/base.html" %}

{% load i18n %}
{% load base_tags %}
{% block title %}{% trans "修改密码" %} - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}

{% block content %}
	<div class="jumbotron jumbotron-main" id="home">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <h2 class="scaleReveal text-primary"><b>{% trans "设置新密码成功" %}</b></h2>
					<hr class="bottomReveal">
                    <a href="{% url 'account_login' %}" type="button" class="btn btn-primary btn-lg">{% trans "立即登录" %}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
