{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load base_tags %}

{% block title %}{% trans "重置密码" %} - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}

{% block content %}
	<div class="jumbotron jumbotron-main" id="home">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <h2 class="scaleReveal text-primary"><b>{% trans "重置密码" %}</b></h2>
					<hr class="bottomReveal">
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="bottomReveal">{% trans "我们已发送电子邮件给您验证。 按照提供的链接完成设置新密码过程。 如果您在几分钟内未收到，请与我们联系。" %}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
