{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load base_tags %}

{% block title %}{% trans "重置密码" %} - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}

{% block content %}
	<div class="jumbotron jumbotron-main" id="home">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <h2 class="scaleReveal text-primary">
                        <b>
                            {% if request.user.is_authenticated %}
                            {% trans "设置密码" %}
                            {% else %}
                            {% trans "忘记密码" %}
                            {% endif %}
                        </b>
                    </h2>
					<hr class="bottomReveal">
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="bottomReveal">
                        {% if request.user.is_authenticated %}
                        {% trans "设置新的密码，" %}
                        {% else %}
                        {% trans "忘记了你的密码？" %}
                        {% endif %}
                        {% trans "在下面输入您的电子邮件地址，我们会向您发送一封电子邮件，以便您重置它。" %}
                    </p>

                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-lg mt20">{% trans "发送确认邮件" %}</button>
                    </form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
