{% extends "base.html" %}
{% load i18n %}
{% load base_tags %}
{% block title %}{% trans "关于我们" %} - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}
{% block description %}{% trans "专注于虚拟货币投资服务一站式平台，致力于挖掘早期优质区块链项目。" %}{% trans "未来我们将为全球虚拟货币投资用户提供一键换币、去中心交易所币币交易，区块链身份验证系统，虚拟货币钱包，项目孵化等系列服务。" %}{% endblock %}
{% block content %}
<!-- RS5.0 Main Stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/revolution/css/settings.css">

<!-- RS5.0 Layers and Navigation Styles -->
<link rel="stylesheet" type="text/css" href="/static/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="/static/revolution/css/navigation.css">

	<!-- Start Slider Revolution -->
	<div id="home" class="rev_slider_wrapper border-bottom">
		<div class="rev_slider" data-version="5.0" id="slider1">
			<ul>
				<!-- Slide 1 -->
				<li data-delay="11000"
				data-description="Particles Bootstrap Theme"
				data-transition="zoomin"
				data-easein="default"
				data-easeout="default"
				data-masterspeed="default"
				data-param1="test"
				data-rotate="0"
				data-thumb="/static/work/office_cover1.jpg"
				data-slotamount="default"
				data-title="Stable environment">

					<div class="rs-background-video-layer"
					data-forcerewind="on"
					data-volume="mute"
					data-forcerewind="on"
					data-volume="mute"
					data-videowidth="100%"
					data-videoheight="100%"
					data-videomp4="/static/work/work-1.mp4"
					data-videopreload="preload"
					data-videoloop="loopandnoslidestop"
					data-forceCover="1"
					data-aspectratio="16:9"
					data-autoplay="true"
					data-autoplayonlyfirsttime="false"
					data-nextslideatend="true"
					></div>

					<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['70','70','70','45']"
					data-lineheight="['70','70','70','50']"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="z:0;rX:0;rY:0;rZ:5deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
					data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
					data-start="1000"
					style="z-index: 6; white-space: nowrap;">Stable environment
					</div>

					<div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
					data-transform_idle="o:1;"
					data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
					data-start="1500"
					style="z-index: 7; white-space: nowrap;">
					</div>
				</li>

				<!-- Slide 2 -->
				<li data-delay="11000"
				data-description="Particles Bootstrap Theme"
				data-transition="zoomin"
				data-easein="default"
				data-easeout="default"
				data-masterspeed="default"
				data-param1="test"
				data-rotate="0"
				data-thumb="/static/work/office_cover2.png"
				data-slotamount="default"
				data-title="Swiss Based">

					<div class="rs-background-video-layer"
					data-forcerewind="on"
					data-volume="mute"
					data-forcerewind="on"
					data-volume="mute"
					data-videowidth="100%"
					data-videoheight="100%"
					data-videomp4="/static/work/work-2.mp4"
					data-videopreload="preload"
					data-videoloop="loopandnoslidestop"
					data-forceCover="1"
					data-aspectratio="16:9"
					data-autoplay="true"
					data-autoplayonlyfirsttime="false"
					data-nextslideatend="true"
					></div>

					<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['70','70','70','45']"
					data-lineheight="['70','70','70','50']"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="z:0;rX:0;rY:0;rZ:5deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
					data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
					data-start="1000"
					style="z-index: 6; white-space: nowrap;">Swiss Base
					</div>

					<div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
					data-transform_idle="o:1;"
					data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
					data-start="1500"
					style="z-index: 7; white-space: nowrap;">
					</div>
				</li>
			</ul>
		</div>
	</div><!-- /rev slider -->
	<!-- End Slider Revolution -->


	<!-- Slider Revolution JS -->
	<script type="text/javascript" src="/static/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="/static/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- Slider Revolution Extensions (Load Extensions only on Local File Systems The following part can be removed on Server for On Demand Loading) -->
	<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.video.min.js"></script>

	<!-- Slider Revolution Main -->
	<script type="text/javascript">
	jQuery(document).ready(function() {
	   jQuery("#slider1").revolution({
	        sliderType:"standard",
	        startDelay:0,
	        spinner:"spinner2",
	        sliderLayout:"auto",
	        viewPort:{
	           enable:false,
	           outof:'wait',
	           visible_area:'100%'
	        }
	        ,
	        delay:9000,
			navigation: {
				keyboardNavigation:"off",
				keyboard_direction: "horizontal",
				mouseScrollNavigation:"off",
				onHoverStop:"off",
				arrows: {
					style:"erinyen",
					enable:true,
					hide_onmobile:true,
					hide_under:600,
					hide_onleave:false,
					hide_delay:200,
					hide_delay_mobile:1200,
					tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div>    <div class="tp-arr-img-over"></div>	<span class="tp-arr-titleholder">\{\{title\}\}</span> </div>',
					left: {
						h_align:"left",
						v_align:"center",
						h_offset:30,
						v_offset:0
					},
					right: {
						h_align:"right",
						v_align:"center",
						h_offset:30,
						v_offset:0
					}
				}
				,
				touch:{
					touchenabled:"on",
					swipe_treshold : 75,
					swipe_min_touches : 1,
					drag_block_vertical:false,
					swipe_direction:"horizontal"
				}
				,
				bullets: {
	                enable:true,
	                hide_onmobile:true,
	                hide_under:600,
	                style:"hesperiden",
	                hide_onleave:false,
	                hide_delay:200,
	                hide_delay_mobile:1200,
	                direction:"horizontal",
	                h_align:"center",
	                v_align:"bottom",
	                h_offset:0,
	                v_offset:30,
	                space:5
				}
			},
			gridwidth:document.body.clientWidth,
			gridheight:document.body.clientHeight - 69,
	    });
	});
	</script>
    {% include 'about__content.html' %}
    {% include 'footer-min.html' %}
{% endblock %}
