{% load i18n %}

<section id="our" class="background2 section-padding border-bottom">
	<!-- Begin Hello Intro -->
	<div id="hello-intro" class="pt50 pb30">
		<div class="container">
			<div class="row mb50">
				<div class="col-sm-3">
					<h2 class="no-margin rotateLeftReveal text-primary">Hello.</h2>
				</div>
				<div class="col-sm-9 mt30-xs">
                    <h4 class="no-margin rightReveal">
                        <b>{% trans "专注于虚拟货币投资服务一站式平台，致力于挖掘早期优质区块链项目。" %}</b></br></br>
                        {% trans "专注于投资区块链技术相关企业的风险投资。为众多的区块链相关初创企业提供支持，并且推动区块链经济和可编程金融的发展。践行区块链技术在未来将会发挥更加重要的作用，为全球经济带来更多的透明度、更高的效率和更安全的环境。" %}
                    </h4>
				</div>
			</div>
		</div>
	    <!-- End Hello Intro -->

        <!-- Begin Remind Intro -->
	    <div class="container">
	    	<div class="row mb50">
	    		<div class="col-sm-3">
	    			<h2 class="no-margin rotateLeftReveal">Remind.</h2>
                </div>
	    		<div class="col-sm-9 mt30-xs">
                    <h4 class="no-margin rightReveal">
                        <b>{% trans "购买网络令牌、加密货币和参与众筹有很高风险，可能导致您的资金全部流失。" %}</b></br></br>
                        {% trans '购买加密货币是高风险投资，可能会导致您得资产受损。各个白皮书中承诺的内容不一定能够由项目方实现，这就会导致它的代币低价值或者无价值。过去项目的高回报率并不具有参考性。投资前请慎重思考。' %}
                    </h4>
	    		</div>
	    	</div>
	    </div>
	    <!-- End Remind Intro -->

	    <!-- Begin Build By -->
	    <div class="container">
	    	<div class="row">
	    		<div class="col-sm-3 mt50">
	    			<h2 class="no-margin rotateLeftReveal">Build By.</h2>
                </div>
	    		<div class="col-sm-9 mt30-xs">
	    		    <img src="/static/images/build/bitcoinsuisse.png" alt="bitcoinsuisse" class="img-responsive pricing-clients bottomReveal">
	    		    <img src="/static/images/build/republic.svg" alt="republic" class="img-responsive pricing-clients bottomReveal">
	    		    <img src="/static/images/build/coinlist.jpg" alt="coinlist" class="img-responsive pricing-clients bottomReveal">
	    		    <img src="/static/images/build/kyc.png" alt="kyc" class="img-responsive pricing-clients bottomReveal">
	    		    <img src="/static/images/build/icoengine.svg" alt="icoengine" class="img-responsive pricing-clients bottomReveal">
	    		    <img src="/static/images/build/bitmax.png" alt="bitmax" class="img-responsive pricing-clients bottomReveal">
	    		</div>
	    	</div>
	    </div>
	    <!-- End Build By -->
	</div>
</section>
