{% extends "base.html" %}
{% load i18n %}
{% load base_tags %}
{% block title %}COOKIE 条款 - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}
{% block description %}与许多网站一样，我们使用 Cookie 在您访问时存储并在计算机上检索小部分信息。这些信息用于使网站按照您的预期工作。Cookie 不能个人归因于您，但它可以用来为您提供更加个性化的网络体验。 {% endblock %}
{% block content %}
	<div class="jumbotron jumbotron-main policy">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <img src="/static/images/icons/cookie.svg">
                    <h2 class="scaleReveal text-primary"><b>COOKIE 条款</b></h2>
				</div>
			</div>
		</div>
	</div>
    <div class="background2 section-padding policy-section border-bottom">
        <div class="container">
            <div class="row clear">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <h2>我们如何使用 COOKIE</h2>
                    与许多网站一样，我们使用 Cookie 在您访问时存储并在计算机上检索小部分信息。这些信息用于使网站按照您的预期工作。Cookie 不能个人归因于您，但它可以用来为您提供更加个性化的网络体验。
                    <br>存储的一些信息是由我们添加到网站的其他公司提供的，这也会影响您离开我们后可能访问的其他网站的体验。
                    <br>如果您继续使用本网站而未采取任何行动阻止此信息的存储，则您实际上同意此用途。
                    <br>如果您想了解更多关于 cookies 的一般用途，包括如何阻止它们存储在您的计算机上，请访问<a href="http://cookiepedia.co.uk/all-about-cookies" target="_blank"> Cookiepedia - 所有关于 cookie 的信息。</a>
                    <br>以下列出了本网站使用的不同类型的 Cookie，并说明了它们的用途。如果您想了解更多信息，请与我们联系。

                    <h2>适用的法律和管辖权</h2>
                    这些 cookies 是网站运作所必需的。他们通常只会回应你所做的行动，而这些行动相当于服务请求，例如登录或填写表格。
                    您可以将浏览器设置为阻止或提醒您有关这些 Cookie，但该网站的某些部分将无法使用。这些 cookies 不会存储任何个人身份信息。

                    <h2>COOKIE 性能</h2>
                    这些 cookies 允许我们统计访问量和流量来源，以便我们可以衡量和改进我们网站的性能。他们帮助我们了解哪些网页最受欢迎，并了解访问者在网站上的移动方式。
                    <br>这些 cookies 收集的所有信息都是汇总的，因此是匿名的。如果您不允许使用这些 Cookie，我们就不会知道您何时访问过我们的网站，也无法监控其性能。

                    <h2>COOKIE 功能</h2>
                    这些 cookies 使网站能够提供增强的功能和个性化。它们可能由我们或由我们添加到我们页面的服务的第三方提供商设置。
                    <br>如果您不允许使用这些 cookie，则部分或全部这些服务可能无法正常运行。

                    <h2>针对 COOKIE</h2>
                    这些 cookies 可能由我们的广告合作伙伴通过我们的网站设置。他们可能会被这些公司用来构建您的兴趣简介并向您展示其他网站上的相关广告。
                    <br>他们不存储任何个人身份信息，但基于唯一标识您的浏览器和互联网设备。如果您不允许使用这些 cookie，您将会遇到较少的有针对性的广告。

                    <h2>其他 COOKIE</h2>
                    以下 Cookie 也由我们的网站设定，但其用途尚未确定。我们正在对这些 cookies 进行研究，并会尽快更新此页面。
                </div>
            </div>
        </div>
    </div>
    {% include "footer-min.html" %}
{% endblock %}
