{% extends "base.html" %}
{% load i18n %}
{% load base_tags %}
{% block title %}Disclaimer - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}
{% block description %}* DISCLAIMER: All information including our "Interest Level" rating, is provided merely for informational purposes. {% SETTINGS "SITE_NAME" %} does not provide investment advice. {% endblock %}
{% block content %}
	<div class="jumbotron jumbotron-main policy">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <img src="/static/images/icons/disclaimer.svg">
                    <h2 class="scaleReveal text-primary"><b>Disclaimer</b></h2>
				</div>
			</div>
		</div>
	</div>
    <div class="background2 section-padding policy-section border-bottom">
        <div class="container">
            <div class="row clear">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <p class="mb40"><b>* DISCLAIMER: All information including our "Interest Level" rating, is provided merely for informational purposes. {% SETTINGS "SITE_NAME" %} does not provide investment advice.</b></p>

                    <hr>

                    <br>{% SETTINGS "SITE_NAME" %}, is not affiliated with and does not endorse or sponsor any of the token sales. {% SETTINGS "SITE_NAME" %} may receive a fee for advertising certain token sales, in which case such listing will be designated accordingly.

                    <br><br>None of token sales is recommended or advised by {% SETTINGS "SITE_NAME" %}.

                    <br><br>You should also be mindful of the potential risks involved in token sales and any arrangements involving digital tokens. As these arrangements and the parties involved operate online and may not be regulated, you may be exposed to heightened risks of fraud, insufficient liquidity or volatile and opaque pricing. You should fully understand the features of any products or business projects you intend to fund, and carefully weigh the risks against the return before making a purchase.

                    <br><br>{% SETTINGS "SITE_NAME" %} is not providing investment advice and is not taking your personal circumstances into consideration when posting information about token sales.

                    <br><br>Decisions to participate in token sales, to buy, sell or hold tokens involve risk and have to be based on the advice of qualified financial professionals.

                    <br><br>The use of any data or information about token sales, including our ‘Interest Level’ rating and any linked content, provided by {% SETTINGS "SITE_NAME" %} or through the {% SETTINGS "SITE_DOMAIN" %} website (“Information”), does not and cannot guarantee that you will make profits or will not incur losses. You must use your own judgment or consult a professional for advice on such matters.

                    <br><br>Information is intended merely for informational and educational purposes.

                    <br><br>You acknowledge and agree that Information is not intended to supply professional, legal or financial advice. {% SETTINGS "SITE_NAME" %} offers no advice regarding the nature, potential value, or suitability or any particular coin or token sale. You should not construe any Information displayed, published or provided by {% SETTINGS "SITE_NAME" %} as legal, tax, investment, financial or other advice.

                    <br><br>Nothing on the {% SETTINGS "SITE_DOMAIN" %} website is a solicitation to buy, sell or hold coins (tokens).

                    <br><br>{% SETTINGS "SITE_NAME" %} is not a broker-dealer or financial adviser and is not affiliated with an investment advisory firm. {% SETTINGS "SITE_NAME" %} does not engage in activities that would require such registration.

                    <br><br>You must consider carefully whether Information is suitable for you in light of your financial condition and ability to bear financial risks.

                    <br><br>All information, data, white papers and other materials concerning a particular token sale is prepared solely by its organizer, and such person is solely responsible for the accuracy of all statements it has made. There is no guarantee that information on these matters is true, correct, or precise.

                    <br><br>YOU ALONE ASSUME SOLE RESPONSIBILITY FOR ANY DECISIONS YOU MAKE BASED ON THE INFORMATION AND/OR THE USE OF {% SETTINGS "SITE_DOMAIN" %}.

                    <br><br>ALL INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. {% SETTINGS "SITE_NAME" %} MAKES NO REPRESENTATIONS AND DISCLAIM ALL EXPRESS, IMPLIED, AND STATUTORY WARRANTIES OF ANY KIND TO USER AND/OR ANY THIRD PARTY, INCLUDING WARRANTIES AS TO ACCURACY, TIMELINESS, COMPLETENESS, MERCHANTABILITY, OR FITNESS FOR ANY PARTICULAR PURPOSE.

                    <br><br>UNDER NO CIRCUMSTANCES SHALL {% SETTINGS "SITE_NAME" %} BE LIABLE FOR ANY LOSS OR DAMAGE YOU OR ANYONE ELSE INCURS AS A RESULT OF ANY ACTIVITY THAT YOU OR ANYONE ELSE ENGAGES IN BASED ON ANY INFORMATION YOU RECEIVE THROUGH {% SETTINGS "SITE_DOMAIN" %} OR AS A RESULT OF THE USE OF {% SETTINGS "SITE_DOMAIN" %}.

                    <br><br>The token sales discussed on the {% SETTINGS "SITE_DOMAIN" %} website have not been reviewed by any regulatory authority.

                    <br><br>The regulatory authorities have not confirmed the accuracy or determined the adequacy of the token sales offering documents. Any representation to the contrary is a criminal offense.

                    <br><br>Tokens may constitute securities pursuant to applicable security laws.

                    <br><br>Tokens may not be appropriate for, or offered to, investors residing in the United States. The Securities and Exchange Commission (SEC) has warned investors residing in the United States that token sales may constitute securities, and by investing in tokens, investors may be purchasing unregistered securities offerings. US investors who invest in may be unable to recover any losses sustained in the event of fraud or theft.

                    <br><br>For more information on the position of the SEC and other regulatory authorities, please examine the following statements :

                    <ul>
                        <li><a href="https://www.sec.gov/oiea/investor-alerts-and-bulletins/ia_icorelatedclaims" target="_blank">https://www.sec.gov/oiea/investor-alerts-and-bulletins/ia_icorelatedclaims (USA)</a></li>
                        <li><a href="https://www.sec.gov/news/public-statement/statement-clayton-2017-12-11" target="_blank">https://www.sec.gov/news/public-statement/statement-clayton-2017-12-11 (USA)</a></li>
                        <li><a href="https://www.sec.gov/news/public-statement/statement-potentially-unlawful-promotion-icos" target="_blank">https://www.sec.gov/news/public-statement/statement-potentially-unlawful-promotion-icos (USA)</a></li>
                        <li><a href="https://www.fca.org.uk/news/statements/initial-coin-offerings" target="_blank">https://www.fca.org.uk/news/statements/initial-coin-offerings (UK)</a></li>
                        <li><a href="http://www.osc.gov.on.ca/documents/en/Securities-Category4/csa_20170824_cryptocurrency-offerings.pdf" target="_blank">http://www.osc.gov.on.ca/documents/en/Securities-Category4/csa_20170824_cryptocurrency-offerings.pdf (Canada)</a></li>
                        <li><a href="http://www.nifa.org.cn/nifa/2955675/2955761/2967610/index.html" target="_blank">http://www.nifa.org.cn/nifa/2955675/2955761/2967610/index.html (China)</a></li>
                    </ul>
                    <br>These links are given by way of example, please make sure that you have found and learnt the position of the regulatory authority in your jurisdiction.
                </div>
            </div>
        </div>
    </div>
    {% include "footer-min.html" %}
{% endblock %}
