{% extends "base.html" %}
{% load i18n %}
{% load base_tags %}
{% block title %}免责声明 - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}
{% block description %}*免责声明：所有信息（包括我们的 “利润级别” 评级）仅供参考。{% SETTINGS "SITE_NAME" %} 不提供投资建议。{% endblock %}
{% block content %}
	<div class="jumbotron jumbotron-main policy">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <img src="/static/images/icons/disclaimer.svg">
                    <h2 class="scaleReveal text-primary"><b>免责声明</b></h2>
				</div>
			</div>
		</div>
	</div>
    <div class="background2 section-padding policy-section border-bottom">
        <div class="container">
            <div class="row clear">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <p class="mb40"><b>*免责声明：所有信息（包括我们的 “利润级别” 评级）仅供参考。{% SETTINGS "SITE_NAME" %} 不提供投资建议。</b></p>

                    <hr>

                    <br>{% SETTINGS "SITE_NAME" %}, 不附属于并且不支持或赞助任何令牌销售。{% SETTINGS "SITE_NAME" %} 可能会为某些令牌销售广告收取费用，在这种情况下，相应地指定此类列表。

                    <br><br>{% SETTINGS "SITE_NAME" %} 不建议或推荐任何令牌销售。

                    <br><br>您还应该注意令牌销售和涉及数字令牌的任何安排所涉及的潜在风险。由于这些安排和有关各方在线运营并且可能不受监管，因此您可能面临更高的欺诈风险，流动性不足或不稳定和不透明的定价风险。您应该充分了解您打算资助的任何产品或业务项目的功能，并在购买前仔细权衡风险与回报。

                    <br><br>{% SETTINGS "SITE_NAME" %} 未提供投资建议，并且在发布有关令牌销售的信息时未考虑您的个人情况。

                    <br><br>参与令牌销售，购买，出售或持有令牌的决定涉及风险，并且必须基于合格的金融专业人员的建议。

                    <br><br>使用 {% SETTINGS "SITE_NAME" %} 或 {% SETTINGS "SITE_DOMAIN" %} 网站（“信息”）提供的有关令牌销售的任何数据或信息（包括我们的 “利润级别” 评级和任何链接内容）并不能也不能保证您将获利或不会产生损失。您必须使用自己的判断或咨询专业人士就此类事宜提供建议。

                    <br><br>信息仅用于信息和教育目的。

                    <br><br>您承认并同意，信息无意提供专业，法律或财务建议。{% SETTINGS "SITE_NAME" %} 不会就性质，潜在价值或适用性或任何特定的硬币或令牌销售提供任何建议。您不应将 {% SETTINGS "SITE_NAME" %} 所显示，发布或提供的任何信息视为法律，税务，投资，财务或其他建议。

                    <br><br>{% SETTINGS "SITE_DOMAIN" %} 网站上没有任何内容是要求购买，出售或持有硬币（代币）。

                    <br><br>{% SETTINGS "SITE_NAME" %} 不是经纪商或财务顾问，也不隶属于投资咨询公司。{% SETTINGS "SITE_NAME" %} 不从事需要此类注册的活动。

                    <br><br>鉴于您的财务状况和承担财务风险的能力，您必须仔细考虑信息是否适合您。

                    <br><br>所有关于特定令牌销售的信息，数据，白皮书和其他资料仅由其组织者准备，并且该人员对所做的所有声明的准确性全权负责。无法保证有关这些问题的信息是真实的，正确的或准确的。

                    <br><br>对于您根据信息或使用 {% SETTINGS "SITE_DOMAIN" %} 做出的任何决定，您必须自行承担责任。

                    <br><br>所有信息均按 “原样” 提供，不提供任何形式的担保。对于用户或任何第三方，{% SETTINGS "SITE_NAME" %} 不做任何陈述并且不提供任何形式的明示，暗示和法定保证，包括对于任何特定用途的准确性，及时性，完整性，适销性或适用性的担保。

                    <br><br>在任何情况下，根据您通过 {% SETTINGS "SITE_DOMAIN" %} 收到的任何信息或作为使用 {% SETTINGS "SITE_NAME" %} 的结果，{% SETTINGS "SITE_NAME" %} 都不对因您或任何其他人进行的任何活动而导致的任何损失或损害负责。

                    <br><br>{% SETTINGS "SITE_DOMAIN" %} 网站上讨论的令牌销售未经任何监管机构审查。

                    <br><br>监管部门尚未确认令牌销售提供文件的准确性或确定充分性。任何与此相反的陈述都是刑事犯罪。

                    <br><br>根据适用的安全法律，令牌可构成证券。

                    <br><br>代币可能不适合或提供给居住在美国的投资者。美国证券交易委员会（SEC）已经警告居住在美国的投资者，令牌销售可能构成证券，通过投资代币，投资者可能会购买未注册的证券产品。投资于美国的投资者可能无法弥补因欺诈或盗窃而遭受的任何损失。

                    <br><br>有关 SEC 和其他监管机构的立场的更多信息，请查看以下声明：

                    <ul>
                        <li><a href="https://www.sec.gov/oiea/investor-alerts-and-bulletins/ia_icorelatedclaims" target="_blank">https://www.sec.gov/oiea/investor-alerts-and-bulletins/ia_icorelatedclaims (美国)</a></li>
                        <li><a href="https://www.sec.gov/news/public-statement/statement-clayton-2017-12-11" target="_blank">https://www.sec.gov/news/public-statement/statement-clayton-2017-12-11 (美国)</a></li>
                        <li><a href="https://www.sec.gov/news/public-statement/statement-potentially-unlawful-promotion-icos" target="_blank">https://www.sec.gov/news/public-statement/statement-potentially-unlawful-promotion-icos (美国)</a></li>
                        <li><a href="https://www.fca.org.uk/news/statements/initial-coin-offerings" target="_blank">https://www.fca.org.uk/news/statements/initial-coin-offerings (英国)</a></li>
                        <li><a href="http://www.osc.gov.on.ca/documents/en/Securities-Category4/csa_20170824_cryptocurrency-offerings.pdf" target="_blank">http://www.osc.gov.on.ca/documents/en/Securities-Category4/csa_20170824_cryptocurrency-offerings.pdf (加拿大)</a></li>
                        <li><a href="http://www.nifa.org.cn/nifa/2955675/2955761/2967610/index.html" target="_blank">http://www.nifa.org.cn/nifa/2955675/2955761/2967610/index.html (中国)</a></li>
                    </ul>
                    <br>这些链接仅作为示例，请确保您已找到并了解到您所在管辖区域的监管机构的地位。
                </div>
            </div>
        </div>
    </div>
    {% include "footer-min.html" %}
{% endblock %}
