{% extends "base.html" %}
{% load i18n %}
{% load base_tags %}
{% block title %}{% trans "邀请好友" %} - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}
{% block content %}
	<div class="jumbotron jumbotron-main invite-header" style="height: 830px !important;">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically" style="width: 480px; height: 800px; padding: 15px; border: 1px solid #edeff1;">
				<div class="col-lg-12 text-center" style="border: 1px dashed; padding: 40px 10px; height: 770px">
                    <img src="/static/images/icons/logo.svg" style="margin: 0; -webkit-animation-duration: 0s; width: 40px; height: 40px;">
                    <h2 class="scaleReveal text-primary" style="margin: 15px 0 10px; font-size: 20px;"><b>EXAMPLE.IO</b></h2>
                    <p class="scaleReveal" style="font-weight: 900; margin-bottom: 0;">
                        <span style="padding-bottom: 2px; border-bottom: 2px solid;">
                            为每个人提供早期阶段加密货币初创投资
                        </span>
                    </p>
                    <hr style="width: 100%; border-color: #8980fe; border-style: dashed none; border-width: 1px 0 0; margin: 50px 0;">
                    <img src="/static/images/icons/invite.svg" style="-webkit-animation-duration: 0s;">
                    <h2 class="scaleReveal text-primary"><b>注册送价值【500￥】令牌</b></h2>
                    <div>
                        <p class="scaleReveal" style="font-weight: 900; padding-bottom: 2px; border-bottom: 4px solid; display: inline-block; margin-bottom: 0;">更有邀请好友注册，送奖励活动等你来</p>
                    </div>
                    <div class="mt30">
                        <p class="scaleReveal" style="font-weight: 900; display: inline-block; margin-bottom: 0; background: #8980fe; padding: 7px 30px; border-radius: 4px; color: #FFF;">50,000,000 IOF</p>
                    </div>
                    <div class="mt20">
                        <p class="scaleReveal" style="font-weight: 900; display: inline-block; margin-bottom: 0;">送完为止</p>
                    </div>
                    <div style="width: 100px; height: 100px; position: relative; margin:auto; padding: 20px; background: #8980fe; border-radius: 4px; margin-top: 35px;">
                        <!-- img src="" style="-webkit-animation-duration: 0s; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; border-radius: 4px;" -->
                    </div>
				</div>
			</div>
			<div class="center-vertically" style="width: 480px; height: 800px; padding: 15px; border: 1px solid #edeff1;">
				<div class="col-lg-12 text-center" style="border: 1px dashed; padding: 40px 10px; height: 770px">
                    <img src="/static/images/icons/logo.svg" style="margin: 0; -webkit-animation-duration: 0s; width: 40px; height: 40px;">
                    <h2 class="scaleReveal text-primary" style="margin: 15px 0 10px; font-size: 20px;"><b>EXAMPLE.IO</b></h2>
                    <p class="scaleReveal" style="font-weight: 900; margin-bottom: 0;">
                        <span style="padding-bottom: 2px; border-bottom: 2px solid;">
                            Provide cryptocurrency ICO for everyone
                        </span>
                    </p>
                    <hr style="width: 100%; border-color: #8980fe; border-style: dashed none; border-width: 1px 0 0; margin: 50px 0;">
                    <img src="/static/images/icons/invite.svg" style="-webkit-animation-duration: 0s;">
                    <h2 class="scaleReveal text-primary"><b>Register for $80 tokens</b></h2>
                    <div>
                        <p class="scaleReveal" style="font-weight: 900; padding-bottom: 2px; border-bottom: 4px solid; display: inline-block; margin-bottom: 0;">Get reward by user invitation</p>
                    </div>
                    <div class="mt30">
                        <p class="scaleReveal" style="font-weight: 900; display: inline-block; margin-bottom: 0; background: #8980fe; padding: 7px 30px; border-radius: 4px; color: #FFF;">50,000,000 IOF</p>
                    </div>
                    <div class="mt20">
                        <p class="scaleReveal" style="font-weight: 900; display: inline-block; margin-bottom: 0;">Reward limited, paticipate ASAP.</p>
                    </div>
                    <div style="width: 100px; height: 100px; position: relative; margin:auto; padding: 20px; background: #8980fe; border-radius: 4px; margin-top: 35px;">
                        <!-- img src="" style="-webkit-animation-duration: 0s; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; border-radius: 4px;" -->
                    </div>
				</div>
            </div>
		</div>
	</div>
{% endblock %}
