{% extends "base.html" %}
{% load i18n %}
{% load base_tags %}
{% block title %}评级方法 - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}
{% block description %}COBROKER 的评级由独立专家进行并公开。 基于许多因素，将1到5的评分分配给ICO。{% endblock %}
{% block content %}
	<div class="jumbotron jumbotron-main policy">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <img src="/static/images/icons/ratings.svg">
                    <h2 class="scaleReveal text-primary"><b>评级方法</b></h2>
				</div>
			</div>
		</div>
	</div>
    <div class="background2 section-padding policy-section border-bottom">
        <div class="container">
            <div class="row clear">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    评级是由以下组合给出的：
                    <ul>
                        <li>我们的评估算法使用超过20个不同的标准，每个ICO可以获得30分以上的奖励</li>
                        <li>根据我们的评级方法学建议，独立专家给ICO的评级。</li>
                    </ul>

                    <p class="mb30">评级不是永久的 - 我们每天都在监控ICO，每天都有新的专家加入并对ICO进行评级。如果没有专家对ICO评级，则只使用评估算法。</p>

                    <h2>1. 评估算法</h2>
                    在我们的评估算法中，我们将评估分为4个不同的组。ICO可以在一天内多次评估，并且评级不能手动更改。所有ICO都在相同的条件下评估，采用相同的评估算法。因此，我们认为这部分评分是客观部分。
                    <br>如果他们的个人资料是最新的，并且有可能得到很好的评价，那么ICO团队，他们的活动，他们的主动性，以及他们对我们编辑的要求的反应能力都取决于他们。
                    <br>每位访客，用户或ICO团队成员都可以使用我们的ICO分析工具查看ICO配置文件结果。该工具已发布，旨在帮助ICO团队在其ICO活动中变得更好，更透明，更积极。

                    <h2 class="vice">团队</h2>
                    拥有一支优秀的团队是成功的关键之一。投资者倾向于研究每个团队成员，更多具有ICO经验的成员是一个附加价值。
                    <br>我们检查团队成员的数量，照片，全名和社交媒体链接。对于拥有ICO成功成绩的成员来说，还有更多优势。这些是正在或正在参与两个或两个以上ICO（作为顾问或团队成员）的团队成员，因为这被认为更可靠。

                    <h2 class="vice">ICO 信息</h2>
                    提供所有必要的信息对潜在投资者非常重要。没有显示所有信息或缺乏信息可被视为不安全或不确定性。
                    <br>我们在这个小组中有几个ICO信息 - 从ICO的开始和结束日期到令牌上市的所有内容。

                    <h2 class="vice">产品介绍</h2>
                    潜在投资者希望了解该产品，并了解ICO未来计划和未来目标。没有任何计划，则存在风险。
                    <br>在产品演示中，我们将介绍白皮书，里程碑和视频演示。我们不评估内容及其原创性，而是评估信息的可用性。

                    <h2 class="vice">市场与社交媒体</h2>
                    深入潜在投资者并与他们保持开放沟通是ICO活动最重要的关键之一。
                    <br>我们正在监测不同社交网络上的活动，这为我们提供了与ICO团队与潜在投资者保持联系的更好展望。即使ICO行业在特定的社交网络上与受众群体没有强烈的联系，重要的是无处不在，这样所有类型的投资者都可以在项目中拥有发言权。

                    <h2>2. 专家</h2>
                    我们鼓励我们的专家遵循以下评级方法。每位专家都可以评估他或她想要的任何ICO，并且以后也可以更改此方法。专家是独立评估的，我们通常不会质疑他们的决定和意见。我们会干涉问题的唯一情况是专家会评估他或她所属的ICO。我们也不允许专家仅因为它们在排行榜上位置较高而向竞争对手提供不良率。每位专家的评分都会考虑他或她的专业知识，在该领域多年的经验以及可能的存在的风险。我们认为这部分评分是主观部分。
                    <br>ICO为团队，视觉和产品分配1到5的评分。
                    <br>专家在评估ICO时应该考虑下一个指导原则。

                    <h2 class="vice">团队</h2>
                    拥有强大而值得信赖的成员的团队可以展示时间承诺和过去的项目。
                    <br>各种平台上的代码库和提交。
                    <br>社区和一致的信息流，随时了解项目进展情况。

                    <h2 class="vice">产品</h2>
                    产品成熟度等级。工作产品比概念更容易判断。技术。专家研究是否涉及任何技术（区块链，非区块链）。
                    <br>像传统经济一样，ICO团队应该解决其产品/服务的具体问题。
                    <br>产品路线图，显示短期和长期战略和增长。
                    <br>竞争分析表明项目对理解市场环境的承诺。

                    <h2 class="vice">商业模式</h2>
                    市场潜力和现有用户群的数量。
                    <br>短期和长期的商业战略。
                    <br>目前的投资。
                    <br>估值和令牌分布显示市值以及令牌的发放和定价过程。

                    <h2 class="vice">弹性</h2>
                    对于法律法规的完善准备并随时准备适应不断变化的法规。
                    <br>安全，托管和顾问名单。

                    <h2>3. 简短的法律审查</h2>
                    一些ICO也由我们的合作伙伴 - 法律专家 - 进行了评估，他们提供了简短的法律审查。这些法律专家独立发表评论，全面的法律评论被视为由法律专家提供的有偿服务。

                    <h2 class="vice">最后说明</h2>
                    我们一直在通过在评估算法中添加新标准来改进评估方法。如果你想贡献，我们邀请你作为专家加入，在这里发送申请。

                    <br><br>由于我们主要依赖我们的社区，我们仍强烈建议在投资或私下咨询专家之前进行详细研究。
                    <br><br>有时ICO团队或潜在投资者不同意分配的评级。在这种情况下，你应该知道，仅仅改变它并不是我们的力量。
                    <ul>
                        <li>如果你是ICO团队的一员，你应该在你的ICO演讲和透明度方面投入更多精力。</li>
                        <li>如果您是潜在投资者，您可以查看ICO详细信息，并告知我们关于ICO的哪些信息具有误导性或错误，我们会对其进行适当纠正。如果我们收到或听到有关诈骗指控，我们将联系ICO，并给予他们一个公平反馈的机会，并在他们的ICO档案中发出适当的警告信息。如果没有来自ICO团队的回复，ICO列表可能会被删除。</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "footer-min.html" %}
{% endblock %}
