{% extends "base.html" %}
{% load base_tags %}
{% block title %}服务条款 - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}
{% block description %}欢迎来到 {% SETTINGS "SITE_DOMAIN" %}（' 网站 '）。这些一般服务条款（' T＆C '）适用于本网站的用户。 在进入本网站并使用本网站提供的任何服务，功能或功能之前，您应仔细阅读本服务条款。{% endblock %}
{% block content %}
	<div class="jumbotron jumbotron-main policy">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <img src="/static/images/icons/terms.svg">
                    <h2 class="scaleReveal text-primary"><b>服务条款</b></h2>
				</div>
			</div>
		</div>
	</div>
    <div class="background2 section-padding policy-section border-bottom">
        <div class="container">
            <div class="row clear">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <p class="mb30">欢迎来到 {% SETTINGS "SITE_DOMAIN" %}（“ 网站 ”）。这些一般服务条款（“ T＆C ”）适用于本网站的用户。
                    在进入本网站并使用本网站提供的任何服务，功能或功能之前，您应仔细阅读本服务条款。</p>

                    <h2>服务</h2>
                    <ul>
                    <li>服务提供商向用户提供使用本网站向第三方 ICO 购买代币（“ 交易 ”）的权利。</li>
                    <li>这些第三方 ICO 通常不受服务提供商控制，也不与其相关。在 ICO 推动的一个与服务提供商有关系的情况下，这将是间接和非重要的。无论如何，服务提供商对于用户可能决定购买的令牌没有任何责任，也不能对 ICO 项目做出任何保证。通过使用本网站，用户意识到并同意服务提供商不能就用户将订阅的 ICO 承担任何责任。</li>
                    <li>交易完全通过用户存入的资金减去银行费用执行。</li>
                    <li>在网站上购买代币是通过实际将卖方的全部代币交付给购买者的账户来支付的，由购买者全额支付给卖方的账户。</li>
                    <li>服务提供商不对由于令牌价值下降而导致的任何损失负责，用户可能决定通过网站购买</li>
                    </ul>

                    <h2>知识需要</h2>
                    <ul>
                        <li>用户应确保他/她理解并拥有加密货币，区块链系统和服务的丰富经验，并且充分理解与数字标记交易相关的风险以及与使用加密货币相关的机制（包括。存储）。</li>
                    </ul>

                    <h2>反洗钱和反恐怖主义筹资</h2>
                    <ul>
                    <li>BIV 是一个自律组织，由其监督，由瑞士金融市场监督管理局（FINMA）负责监督。{% SETTINGS "SITE_NAME" %} 提交了类似的请求。因此，服务提供商致力于实施瑞士反洗钱法，为您提供安全，合规和有信誉的服务。这包括对可疑交易的监控和对国际监管机构的强制性报告。服务提供商需要根据瑞士法律保留某些信息和文件。</li>
                    <li>服务提供商保留在任何时间出于任何理由（或无理由）拒绝向任何客户进行注册或禁止与其交易或与其终止任何关系的权利。</li>
                    </ul>

                    <h2>数据保护</h2>
                    <ul>
                    <li>用户数据根据“联邦数据保护法”受到保护。如果需要通过协议提供服务，服务提供商可以将用户提供给他们的数据传输给第三方，例如托管银行，甚至在国外。</li>
                    <li>用户授权服务提供商向其所购买的令牌的发行人披露以下数据：名字，姓氏，地址，居住状态，电子邮件。没有通过KYC流程获得的其他信息将转移到所购买令牌的发行人。令牌发行者应保证传输数据的保护。</li>
                    <li>用户同意，服务提供商及其相关实体有权披露用户数据，以遵守法律或监管义务以及维护合法利益。</li>
                    </ul>

                    <h2>FATCA 和自动交换信息</h2>
                    通过接受用户出售加密货币，根据瑞士 FATCA 和信息自动交换立法，BIV 将被视为金融机构。因此，用户通过 BIV 持有的金融资产（包括加密货币资产）将成为向主管税务机关报告的对象。目前 BIV 不接受美国人作为客户。
                    由于 {% SETTINGS "SITE_NAME" %} 不存储用户资产的私钥，因此不受 FATCA 和信息自动交换的限制。

                    <h2>责任限制</h2>
                    <ul>
                    <li>服务提供商及其管理人员，董事，员工和供应商对由于本网站，本服务，本网站任何不准确的交易以及本网站的任何技术，中断或故障引起的任何损失概不负责。本网站，任何被盗，丢失或未经授权使用用户的帐户，任何违反安全或数据泄露的行为。</li>
                    <li>服务提供商不对数字令牌的任何损失负责，这可能会导致用户或任何承担获取数字令牌的人员的任何行为或疏忽，以及在网站被黑客攻击的情况下。</li>
                    <li>交易市场非常不稳定，在流动性，市场深度和交易动态方面迅速转变。本网站不承担任何损失。不要进入交易或加入高于您的财务能力的 ICO。此外，加密货币不适合没有相关知识和/或经验的人。通过使用本网站，用户确认其意识到与加密货币相关的风险，用户应对此承担全部责任并承担责任。</li>
                    </ul>

                    <h2>限制</h2>
                    <ul>
                    <li>如果用户不符合用户居住国的规定，或者以任何恶意方式或以可能构成违反瑞士法律或用户居住地法的方式使用本网站，用户不得使用本网站。</li>
                    <li>用户不得使用本网站并购买或出售加密货币，以便提交或完成非法行为（例如，将收到的令牌用作非法活动的勒索）。</li>
                    <li>用户不得使用本网站并购买或出售加密货币以避免税收。</li>
                    <li>用户不得通过可能被视为市场滥用的做法（前台交易，洗钱交易等）使用本网站并购买或出售加密货币。</li>
                    </ul>

                    <h2>知识产权</h2>
                    <ul>
                    <li>如果网站中存在版权或其他知识产权，例如软件，技术诀窍，分析或程序，那些版权和其他行业权利属于 {% SETTINGS "SITE_NAME" %}</li>
                    <li>{% SETTINGS "SITE_NAME" %} 授予用户无限期的不可转让和非排他性权利，以根据这些服务条款的规定确定使用服务以供其使用。</li>
                    </ul>

                    <h2>使用网站和服务</h2>
                    <ul>
                    <li>要使用网站上提供的网站和服务，用户必须开设一个帐户。</li>
                    <li>要开设账户，用户需要遵循KYC（了解您的客户）流程来验证他/她的身份。</li>
                    <li>用户必须在注册过程中提供关于他/她自己的真实，最新和完整的信息。如果用户是公司的授权代表，他/她必须证明其有权将公司与本协议绑定。法律要求服务提供商获取，验证和记录识别每个开户人的信息。因此，当用户开户时，服务提供商要求用户提供某些文件来识别自己，并验证用户提交给服务提供商的信息。此类文件包括身份证或护照，水电费单，银行对账单或任何证明您的身份由政府机构签发的文件。</li>
                    <li>根据提供的文件，用户将验证与他/她想要使用的CHF数量不同的不同层次。</li>
                    <li>如果服务提供商或其雇员之一因故意不当行为或重大过失造成损害，上述责任限制不适用。</li>
                    </ul>

                    <h2>分割</h2>
                    如果这些服务条款或协议的任何条款被视为无效，无效或不可执行，其余条款将继续具有完全效力。

                    <h2>适用的法律和管辖权</h2>
                    这些服务条款受瑞士法律的管辖并排除瑞士国际私法和任何国际条约。由这些服务条款引起的所有争议应受瑞士卢加诺主管法院的专属管辖。
                </div>
            </div>
        </div>
    </div>
    {% include "footer-min.html" %}
{% endblock %}
