{% extends "base.html" %}
{% load base_tags %}
{% block title %}TERMS AND CONDITIONS - {% SETTINGS "SITE_DOMAIN" %}{% endblock %}
{% block description %}Welcome on {% SETTINGS "SITE_DOMAIN" %} (the 'Site'). These General Terms and Conditions ('T&C') apply to user of the Site.
You should read these Terms of Service carefully before entering into the Site and using any of the services, functions, or features offered on the Site.
{% endblock %}
{% block content %}
	<div class="jumbotron jumbotron-main policy">
		<div id="particles-js"></div>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <img src="/static/images/icons/terms.svg">
                    <h2 class="scaleReveal text-primary"><b>TERMS AND CONDITIONS</b></h2>
				</div>
			</div>
		</div>
	</div>
    <div class="background2 section-padding policy-section border-bottom">
        <div class="container">
            <div class="row clear">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    Welcome on&nbsp;{% SETTINGS "SITE_DOMAIN" %} (the "<b>Site</b>"). These General Terms and Conditions ("<b>T&amp;C</b>") apply to user of the Site.<br>
			        You should read these Terms of Service carefully before entering into the Site and using any of the services, functions, or features offered on the Site.


			        <h2>Services</h2>
                    <ul>
			        <li>The Service Providers are offering to the User the use of the Site to buy tokens from third-party ICOs (the "<b>Transaction</b>"). </li>
			        <li>These third-party ICOs are usually neither controlled by the Service Providers nor related to them. In the case one of the ICO promoted has also a relation with the Service Providers, this would be indirect and non material. In any case the Service Providers have neither any responsibility about tokens the user may decide to buy nor can make any assurance about the ICO project. By using the Site, the User is aware and agrees that the Service Providers cannot take any liability with respect to the ICO the User will subscribe.</li>
			        <li>Transactions are fully executed through funds deposited by the User minus the banking fees.</li>
			        <li>Purchases of tokens on the Site are settled by actual delivery of the full amount of tokens by the seller to the purchaser’s account against payment in full by the purchaser to the seller’s account. </li>
			        <li>The Service Providers are not responsible for any loss due to the decrease of the value of tokens the User may decide to buy through the Site</li>
                    </ul>

			        <h2>KNOWLEDGE REQUIRED</h2>
                    <ul>
			        <li>The User should ensure that he/it understands and has significant experience of cryptocurrencies, blockchain systems and services, and that he/it fully understands the risks associated with the trading of digital tokens as well as the mechanism related to the use of cryptocurrencies (incl. storage).</li>
                    </ul>

			        <h2>ANTI MONEY LAUNDERING AND COUNTER TERRORIST FINANCING</h2>
                    <ul>
                    <li>BIV is a member and supervised by a Self Regulatory Organization, which on its site is supervised by the Swiss Financial Market Supervisory Authority (FINMA). {% SETTINGS "SITE_NAME" %} has submitted a similar request. Hence, the Service Providers are committed to applying the Swiss Anti Money Laundering Act providing you with safe, compliant, and reputable Services. This includes monitoring of and for suspicious transactions and mandatory reporting to international regulators. The Service Providers need to keep certain information and documentation on file under the Swiss law.</li>
			        <li>The Service Providers reserve the right to refuse registration to, or to bar transactions from or to, or terminate any relationship with, any customer for any reason (or for no reason) at any time.</li>
                    </ul>

			        <h2>DATA PROTECTION</h2>
                    <ul>
			        <li>The User data are protected in accordance with&nbsp;the Federal Act on Data Protection. Where necessary to deliver the Services by the Agreement, the Service Providers can transfer data provided to them by the User to third parties, like custodian banks,&nbsp;even abroad.</li>
			        <li>The User authorizes the Service Provider to disclose following data to the issuer of the Token which she/he has purchased: First Name, Last Name, Address, State of residency, email. No other information obtained with the KYC process will be transferred to the issuer of the Token purchased. The Token issuer shall guarantee the protection of the data transfered.</li>
			        <li>The User agrees that the Service Providers and its related entities are entitled to disclose User data to comply with legal or regulatory obligations as well as to safeguard legitimate interests.</li>
                    </ul>

			        <h2>FATCA AND AUTOMATIC EXCHANGE OF INFORMATION</h2>
			        By accepting the User to sell cryptocurrencies, BIV shall be considered as a Financial Institution according to the Swiss FATCA and Automatic Exchange of Information legislation. The financial assets, including assets in cryptocurrencies, held by the User through BIV will, therefore, be the object of a reporting to the competent tax authorities. At the moment BIV is not accepting US Persons as clients.<br> <nr>
                    Since {% SETTINGS "SITE_NAME" %} is not storing the private keys of the assets of the Users, it is not subject to FATCA and Automatic Exchange of Information. <br>

			        <h2>LIMITATION OF LIABILITY</h2>
                    <ul>
			        <li>The Service Providers, as well as its officers, directors, employees and suppliers, assumes no liability or responsibility for any loss arising out of or related to the Site, the Services, any inaccurate Transaction on the Site, any technical, interruption or malfunction of the Site, any stolen, lost, or unauthorized use of the User’s account, any breach of security or data breach. </li>
			        <li>The Service Providers shall not be responsible for any loss of digital tokens, which may result of any actions or omissions of the User or any person undertaking to acquire digital tokens, as well as in case of a hack of the Site.</li>
			        <li>Trading markets are extremely volatile and shift quickly in terms of liquidity, market depth, and trading dynamics. There is no guarantee against losses on the Site. Do not enter into transactions or join ICOs that are above your financial abilities. Also, cryptocurrencies are not suitable for people without the relevant knowledge and/or experience. By using the Site, the User acknowledges that she/he is aware of the risks related to cryptocurrencies, for which the User is solely responsible and liable.</li>
                    </ul>

			        <h2>Restrictions</h2>
                    <ul>
			        <li>Users are not allowed to use the Site if this is not compliant with the User’s residence State or to use the Site in any malicious manner or in any way which may constitute a contravention of the Swiss law or the User’s residence law.</li>
			        <li>Users are not allowed to use the Site and purchase or sell cryptocurrencies in order commit or complete illegal actions (e.g., using tokens received as a ransom from illegal activity).</li>
			        <li>Users are not allowed to use the Site and purchase or selling cryptocurrency to avoid taxes.</li>
			        <li>Users are not allowed to use the Site and purchase or selling cryptocurrency through practices that may be considered as a market abuse (front-running, wash trades, etc.)</li>
                    </ul>

			        <h2>Intellectual Property Rights</h2>
                    <ul>
                    <li>To the extent that copyright or other intellectual property rights exist in the Site such as software, know-how, analysis or programs, those copyrights, and other industrial rights belong to {% SETTINGS "SITE_NAME" %}</li>
                    <li>{% SETTINGS "SITE_NAME" %} grants to the User for an unlimited period non-transferable and non-exclusive rights to exploit the Services for its use as determined by the provisions of these Terms &amp; Conditions. </li>
                    </ul>

			        <h2>Use of the Site and Services</h2>
                    <ul>
			        <li>To use the Site and services offered on the Site the User have to open an account. </li>
			        <li>To open an account, the User needs to follow the KYC (Know Your Customer) process to verify his/her identity.</li>
			        <li>The User has to provide true, current and complete information about himself/herself during the registration process. If the User is an authorized representative of a company, she/he must prove that she/he has the authority to bind the company to this Agreement. The Service Providers are required by law to obtain, verify, and record information identifying each person who opens an account. Hence, when the User opens an account, the Service Providers ask the User to provide certain documentation to identify itself and to verify the information the User has submitted to the Service Providers. Such documentation includes an identification card or a passport, a utility bill, a bank statement or any document proving your identity issued by a governmental body.</li>
			        <li>According to the provided documents, the User will verify different Tiers related to a different amount of CHF he/she wants to use.</li>
			        <li>The limitation of liability set out above shall not be applicable if the Service Providers or one of their -employee has caused the damage by intentional misconduct or by gross negligence.</li>
                    </ul>

			        <h2>Severability</h2>
			        If any of the provisions of these Terms &amp; Conditions or the Agreement are deemed to be invalid, void or unenforceable, the remaining provisions shall continue in full force and effect.

			        <h2>Applicable Law and Jurisdiction</h2>
			        These T&amp;C are subject to and governed by Swiss law to the exclusion of Swiss International Private Law and any International Treaties. All disputes arising from or under these T&amp;C shall be subject to the <b>exclusive jurisdiction of the competent courts of Lugano, Switzerland</b>.
		            </nr>
                </div>
            </div>
        </div>
    </div>
    {% include "footer-min.html" %}
{% endblock %}
